### SOP EVALUATION USING ML ALGORITHMS

##### Reading the dataset.

In [370]:
import pandas as pd
df = pd.read_excel('SOPs Dataset.xlsx')

In [371]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,Sno,NaN,SOP,NaN,Label
2,NaN,NaN,NaN,NaN,NaN
3,1,NaN,To the Admissions Committee of University of B...,NaN,NaN
4,2,NaN,Admission Committee of the University of Toron...,NaN,NaN

##### Data Cleaning

In [372]:
column_labels = ['Column1', 'Column2', 'SOP','Column4','Label']
df.columns = column_labels
display(df)

,Column1,Column2,SOP,Column4,Label
0,NaN,NaN,NaN,NaN,NaN
1,Sno,NaN,SOP,NaN,Label
2,NaN,NaN,NaN,NaN,NaN
3,1,NaN,To the Admissions Committee of University of B...,NaN,NaN
4,2,NaN,Admission Committee of the University of Toron...,NaN,NaN
...,...,...,...,...,...
816,796,NaN,"Dear Admissions Committee,\n\nI am Nisha Gupta...",NaN,1
817,797,NaN,"Dear Admissions Committee,\n\nI am Anirudh Kap...",NaN,1
818,798,NaN,"Dear Admissions Committee,\n\nI am Priyanka Pa...",NaN,1
819,799,NaN,"Dear Admissions Committee,\n\nI am Arjun Mehta...",NaN,1
820,800,NaN,"Dear Admissions Committee,\n\nI am Meera Sharm...",NaN,1

In [373]:
# Dropping unwanted columns and displaying the dataset
columns_to_drop = ['Column1', 'Column2', 'Column4']
df.drop(columns=columns_to_drop, inplace=True)
display(df)

                                                   SOP  Label
0                                                  NaN    NaN
1                                                  SOP  Label
2                                                  NaN    NaN
3    To the Admissions Committee of University of B...    NaN
4    Admission Committee of the University of Toron...    NaN
..                                                 ...    ...
816  Dear Admissions Committee,\n\nI am Nisha Gupta...      1
817  Dear Admissions Committee,\n\nI am Anirudh Kap...      1
818  Dear Admissions Committee,\n\nI am Priyanka Pa...      1
819  Dear Admissions Committee,\n\nI am Arjun Mehta...      1
820  Dear Admissions Committee,\n\nI am Meera Sharm...      1

[821 rows x 2 columns]

In [374]:
# Drop the first 3 since it has no values
df = df.drop(df.index[:3])
df.head(5)

                                                 SOP Label
3  To the Admissions Committee of University of B...   NaN
4  Admission Committee of the University of Toron...   NaN
5  Dear Admissions Committee of McGill University...   NaN
6  To the Esteemed Admissions Panel of McMaster U...   NaN
7  Dear Admissions Committee of the University of...   NaN

In [375]:
# Reset the index to 0
df = df.reset_index(drop=True)
df.head(5)

                                                 SOP Label
0  To the Admissions Committee of University of B...   NaN
1  Admission Committee of the University of Toron...   NaN
2  Dear Admissions Committee of McGill University...   NaN
3  To the Esteemed Admissions Panel of McMaster U...   NaN
4  Dear Admissions Committee of the University of...   NaN

In [376]:
# Replace all 1's with 0 in the 'Label' column
df['Label'] = df['Label'].replace(1, 0)
df.head(10)

                                                 SOP  Label
0  To the Admissions Committee of University of B...    NaN
1  Admission Committee of the University of Toron...    NaN
2  Dear Admissions Committee of McGill University...    NaN
3  To the Esteemed Admissions Panel of McMaster U...    NaN
4  Dear Admissions Committee of the University of...    NaN
5  To the Respected Admissions Board of the Unive...    NaN
6  Dear Admissions Committee at the University of...    NaN
7  To the Esteemed Admissions Panel of McMaster U...    NaN
8  Dear Admissions Board of Queen's University,\n...    NaN
9  To the Admission Committee of the University o...    NaN

In [377]:
# Replace all NaN values with 1 in the 'Label' column
df['Label'].fillna(1, inplace=True)
df.head(100)

                                                  SOP  Label
0   To the Admissions Committee of University of B...    1.0
1   Admission Committee of the University of Toron...    1.0
2   Dear Admissions Committee of McGill University...    1.0
3   To the Esteemed Admissions Panel of McMaster U...    1.0
4   Dear Admissions Committee of the University of...    1.0
..                                                ...    ...
95  To the Visa Officer,\nCanada High Commission, ...    0.0
96  To the Visa Officer,\nCanada High Commission, ...    0.0
97  To the Visa Officer,\nCanada High Commission, ...    0.0
98  To the Visa Officer,\nCanada High Commission, ...    0.0
99  To the Visa Officer,\nCanada High Commission, ...    0.0

[100 rows x 2 columns]

In [378]:
# Drop rows with null values in the 'SOP' column
df = df.dropna(subset=['SOP'])
df = df.reset_index(drop=True)

In [379]:
df.shape

(804, 2)

In [380]:
# Checking for missing values
df.isna()

       SOP  Label
0    False  False
1    False  False
2    False  False
3    False  False
4    False  False
..     ...    ...
799  False  False
800  False  False
801  False  False
802  False  False
803  False  False

[804 rows x 2 columns]

In [381]:
# Check for null values and printing columns with null values and their respective counts
null_values = df.isnull().sum()
for column, count in null_values.items():
    if count > 0:
        print(f'Column: {column}, Null Count: {count}')

In [382]:
# Checking if the dataset is biased or not
df.Label.value_counts()

1.0     630
0.0     173
11.0      1
Name: Label, dtype: int64

In [383]:
# Replacing one label 11.0 with 1.0
df['Label'] = df['Label'].replace([11.0],1.0)
df['Label'].value_counts()

1.0    631
0.0    173
Name: Label, dtype: int64

In [384]:
df.Label.value_counts()

1.0    631
0.0    173
Name: Label, dtype: int64

Here we can understand that the count of approved SOP's are so high in number when compared to those which are rejected. 
Which creates a bias problem in the dataset.
So we need to perform augmentation to balance the dataset.

##### Augmentation

In [385]:
# Function to replace rejected SOP words with its synonyms and create augmented SOP

import nltk
from nltk.corpus import wordnet
import random

nltk.download('wordnet')

def get_synonyms(word):
    synonyms = []
    for syn in wordnet.synsets(word):
        for lemma in syn.lemmas():
            synonyms.append(lemma.name())
    return synonyms

def synonym_replacement(text, n=1):
    words = text.split()
    augmented_texts = []
    for _ in range(n):
        augmented_words = []
        for word in words:
            synonyms = get_synonyms(word)
            if synonyms:
                synonym = random.choice(synonyms)
                augmented_words.append(synonym)
            else:
                augmented_words.append(word)
        augmented_text = ' '.join(augmented_words)
        augmented_texts.append(augmented_text)
    return str(augmented_texts)

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\roysi\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [386]:
#1st iteration for augmentation SOP's with label 0
rejected_sop = df[df['Label'] == 0]

aug_texts = []
for text in rejected_sop["SOP"]:
    aug_text = synonym_replacement(text)
    aug_texts.append(aug_text)

rejected_sop["SOP"] = aug_texts
rejected_sop.head()

df = pd.concat([df, rejected_sop], ignore_index=True)

df.shape

C:\Users\roysi\AppData\Local\Temp\ipykernel_12588\264420576.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rejected_sop["SOP"] = aug_texts

(977, 2)

In [387]:
with pd.option_context('display.max_colwidth', None):
    print(rejected_sop.head(1))

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 SOP  \
79  ['To the visa Officer, Canada highschool Commission, fresh Delhi. SUBJECT: AN coating for survey permission honor Officer, My describe follow Vivek Malhotra, and one atomic_number_95 antiophthalmic_factor network designer At Tc with A Passion_of_Christ for desegregate technology into healthcare. piece my academic carrying_into_action stand at 68%, my IELTS score of 6.0 get alas fallen short of the threshold, conduct to my application for the bach of scientific_discipline IN health IP at the university of the Fraser vale be not accepted. contempt this setback, my committedness to the line_of_business of wellness information_processing stay steadfast. My professional_person experience At TCS, arise insure and efficient mesh solution for health_care providers, have groom Pine_Tree_State for the challenge and chance in health informatics. 1 personify determine to improve my terminology technique and reapply for the program, axerophthol I believe the university of the Fraser valley be the nonesuch site to surrogate my emergence atomic_number_49 this active field. The program’s comprehensive programme and the university’s inscription to scholarly_person success come_across with my educational aspirations. i plan to carry_on heighten my skill and contribute to visualise atomic_number_85 TC that aline with wellness information_processing until atomic_number_53 fulfill the prerequisite for this respect program. I be aspirer for amp future_tense chance to join the university of the Fraser vale and agnise my potential_drop inward wellness informatics.']

    Label
79    0.0

In [388]:
# Resetting the index
df = df.reset_index(level=0)
df['index'] = df.index

In [389]:
#2nd iteration for augmentation the SOP's with label 0
rejected_sop_1 = df[df['Label'] == 0] 
rejected_sop_1.SOP.count()

texts = []
for text in rejected_sop_1["SOP"]:
    aug_text = synonym_replacement(str(text))
    texts.append(aug_text)

rejected_sop_1["SOP"] = texts
rejected_sop.head()

df = pd.concat([df, rejected_sop], ignore_index=True)

C:\Users\roysi\AppData\Local\Temp\ipykernel_12588\4275085621.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rejected_sop_1["SOP"] = texts

In [390]:
# Appending the augmented SOP's to the dataframe
new_sop =[]
for row in df.SOP:
    if type(row) == str:
        new_sop.append(row)
    else:
        concatenated_series = pd.concat(row)
        new_sop.append(', '.join(concatenated_series))

In [391]:
# Total SOP Count after augmentation
df['Label'].value_counts()

1.0    631
0.0    519
Name: Label, dtype: int64

##### NLP Preprocessing

In [392]:
import string

In [393]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [394]:
# Removing punctuation's
def remove_punctuations(text):
    punctuations = string.punctuation
    return text.translate(str.maketrans('','',punctuations))
df['SOP'] = df['SOP'].astype(str)

In [395]:
df['Clean_sop'] = df['SOP'].apply(lambda x: remove_punctuations(x))

In [396]:
df.Clean_sop.tail()

1145    dear admission Committee iodin be Nisha Gupta ...
1146    dear access Committee one MA Anirudh Kapoor de...
1147    pricy admittance Committee I be Priyanka Patel...
1148    darling priceofadmission Committee 1 ArtiumMag...
1149    dear admission Committee i be Meera Sharma typ...
Name: Clean_sop, dtype: object

In [397]:
from nltk.corpus import stopwords

In [398]:
STOPWORDS = set(stopwords.words("english"))

In [399]:
print(STOPWORDS)

{'these', 'until', "should've", 'not', 'hasn', 'because', 'out', 'once', 'shan', 'own', 'having', 'is', 'now', 'ours', 'was', 'they', 'those', 'most', 'himself', 'as', "weren't", 'only', 'itself', 'wouldn', 'before', 'ourselves', 'have', 'yourselves', 'to', 'it', 'me', 'off', 'if', "you're", 'yourself', 'will', 'we', 'that', 'below', 'my', "you'd", 'too', 'than', 'been', 'with', 'few', 'here', "shouldn't", 'ma', "wasn't", 'won', 'which', 'into', 'under', 'over', "hasn't", "shan't", 'how', 'she', 'll', 'didn', 'whom', 'do', 'mustn', 'a', 'very', 'for', 'who', 'them', "mightn't", 'weren', "you've", 'theirs', 'so', "you'll", "won't", "it's", 'y', 'does', 'd', 'his', "couldn't", "isn't", 'don', 'both', "didn't", 'some', 'has', "wouldn't", 'there', 'aren', 'o', 'mightn', 'by', 'did', 'doesn', 'where', 'are', 'more', 'couldn', 'being', 'had', 'no', 'her', 'other', 'then', 'myself', 'at', "hadn't", 'doing', 'shouldn', 'up', 'any', 'down', 'your', "mustn't", "haven't", 'on', "doesn't", 'its', 'be', 've', 'him', "that'll", 'while', "needn't", 'haven', 'nor', 'were', 'and', 'further', 'herself', 'but', 'between', 'in', 'such', 'or', 'ain', 'our', 'yours', 'needn', 't', 'themselves', 'their', 'just', 'am', 'what', 's', 'wasn', 'isn', 'again', 'why', 'against', 'when', "she's", 're', 'i', "don't", 'each', 'he', 'of', 'from', 'same', 'an', 'm', 'during', 'hadn', 'you', 'through', 'should', 'above', 'can', 'the', 'hers', 'after', 'this', "aren't", 'about', 'all'}

In [400]:
# Removing stopwords
def remove_stopwords(text):
    return " ".join(word for word in text.split() if word not in STOPWORDS)

In [401]:
df["Clean_sop"] = df["Clean_sop"].apply(lambda x: remove_stopwords(x))

In [402]:
df.tail()

,index,SOP,Label,Clean_sop
1145,NaN,"[""dear admission Committee, iodin be Nisha Gup...",0.0,dear admission Committee iodin Nisha Gupta A c...
1146,NaN,"[""dear access Committee, one MA Anirudh Kapoor...",0.0,dear access Committee one MA Anirudh Kapoor de...
1147,NaN,"[""pricy admittance Committee, I be Priyanka Pa...",0.0,pricy admittance Committee I Priyanka Patel A ...
1148,NaN,"[""darling price_of_admission Committee, 1 Arti...",0.0,darling priceofadmission Committee 1 ArtiumMag...
1149,NaN,"[""dear admission Committee, i be Meera Sharma,...",0.0,dear admission Committee Meera Sharma typeA gi...

In [403]:
# Lower casing the SOP
df['Clean_sop'] = df['Clean_sop'].str.lower()

In [404]:
df.tail()

,index,SOP,Label,Clean_sop
1145,NaN,"[""dear admission Committee, iodin be Nisha Gup...",0.0,dear admission committee iodin nisha gupta a c...
1146,NaN,"[""dear access Committee, one MA Anirudh Kapoor...",0.0,dear access committee one ma anirudh kapoor de...
1147,NaN,"[""pricy admittance Committee, I be Priyanka Pa...",0.0,pricy admittance committee i priyanka patel a ...
1148,NaN,"[""darling price_of_admission Committee, 1 Arti...",0.0,darling priceofadmission committee 1 artiummag...
1149,NaN,"[""dear admission Committee, i be Meera Sharma,...",0.0,dear admission committee meera sharma typea gi...

In [405]:
# Tokenizing the SOP text
import nltk
from nltk.tokenize import word_tokenize

nltk.download('punkt')
df['tokenized_text'] = df['Clean_sop'].apply(lambda x: word_tokenize(x))
print(df['tokenized_text'])

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\roysi\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

0       [to, admissions, committee, university, britis...
1       [admission, committee, university, toronto, gr...
2       [dear, admissions, committee, mcgill, universi...
3       [to, esteemed, admissions, panel, mcmaster, un...
4       [dear, admissions, committee, university, toro...
                              ...
1145    [dear, admission, committee, iodin, nisha, gup...
1146    [dear, access, committee, one, ma, anirudh, ka...
1147    [pricy, admittance, committee, i, priyanka, pa...
1148    [darling, priceofadmission, committee, 1, arti...
1149    [dear, admission, committee, meera, sharma, ty...
Name: tokenized_text, Length: 1150, dtype: object

In [406]:
from nltk import pos_tag
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

In [407]:
# Lemmatizing the tokenized word with appropriate Parts Of Speech tagging 
lemmatizer = WordNetLemmatizer()

# Function to perform POS tagging and lemmatization
def pos_mapping_lemmatization(text):
    pos_tags = pos_tag(text)
    
    lemmatized_words = []
    for word, tag in pos_tags:
        if tag.startswith('N'):
            pos = 'n'
        elif tag.startswith('V'):
            pos = 'v'
        elif tag.startswith('R'):
            pos = 'r'
        else:
            pos = 'n'
        
        lemma = lemmatizer.lemmatize(word, pos)
        lemmatized_words.append(lemma)
    
    lemmatized_text = ' '.join(lemmatized_words)
    return lemmatized_text

In [408]:
df['lemmatized_text'] = df['tokenized_text'].apply(lambda x: pos_mapping_lemmatization(x))
df.head()

,index,SOP,Label,Clean_sop,tokenized_text,lemmatized_text
0,0.0,To the Admissions Committee of University of B...,1.0,to admissions committee university british col...,"[to, admissions, committee, university, britis...",to admission committee university british colu...
1,1.0,Admission Committee of the University of Toron...,1.0,admission committee university toronto greetin...,"[admission, committee, university, toronto, gr...",admission committee university toronto greetin...
2,2.0,Dear Admissions Committee of McGill University...,1.0,dear admissions committee mcgill university my...,"[dear, admissions, committee, mcgill, universi...",dear admission committee mcgill university my ...
3,3.0,To the Esteemed Admissions Panel of McMaster U...,1.0,to esteemed admissions panel mcmaster universi...,"[to, esteemed, admissions, panel, mcmaster, un...",to esteem admission panel mcmaster university ...
4,4.0,Dear Admissions Committee of the University of...,1.0,dear admissions committee university toronto m...,"[dear, admissions, committee, university, toro...",dear admission committee university toronto my...

#### MODEL TRAINING

In [409]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import LatentDirichletAllocation, TruncatedSVD
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report

In [410]:
# Train-Validation Split
X_train, X_val, y_train, y_val = train_test_split(df['lemmatized_text'], df['Label'], test_size=0.2, random_state=42)

In [411]:
# Train and Validation set distribution of the dataset
lenSOP = df['lemmatized_text'].count()
print(f'Total Dataset: {lenSOP}')
print(f'Training Set: {len(X_train)}')
print(f'Validation Set: {len(X_val)}')

Total Dataset: 1150
Training Set: 920
Validation Set: 230

RandomForestClassifier using CountVectorizer

In [412]:
# Using Count Vectorizer to convert text to vectors
vectorizer_lda = CountVectorizer(min_df=2)  # Adjust min_df as needed
vectorizer_lda.fit(X_train)
X_train_cv = vectorizer_lda.transform(X_train)
X_val_cv = vectorizer_lda.transform(X_val)
print(f'Shape of train data: {X_train_cv.shape}')

Shape of train data: (920, 4603)

In [413]:
# Model Training and Prediction for Count Vectorizer using random forest classifier
clf_cv = RandomForestClassifier(max_depth=2, max_leaf_nodes=3, n_estimators=20)
clf_cv.fit(X_train_cv, y_train)
y_pred_cv_train = clf_cv.predict(X_train_cv)
y_pred_cv_val = clf_cv.predict(X_val_cv)

# Model Evaluation for RFC
metrics = {'Training Set':
           {'Accuracy':accuracy_score(y_train, y_pred_cv_train),
            'Precision':precision_score(y_train, y_pred_cv_train),
            'Recall':recall_score(y_train, y_pred_cv_train),
            'F1_score':f1_score(y_train, y_pred_cv_train)},
           
           'Validation Set':
           {'Accuracy':accuracy_score(y_val, y_pred_cv_val),
            'Precision':precision_score(y_val, y_pred_cv_val),
            'Recall':recall_score(y_val, y_pred_cv_val),
            'F1_score':f1_score(y_val, y_pred_cv_val)}
            }

metricDf = pd.DataFrame.from_dict(metrics)
print('RandomForestClassifier using CountVectorizer')
display(metricDf)

RandomForestClassifier using CountVectorizer

           Training Set  Validation Set
Accuracy       0.860870        0.839130
Precision      0.799051        0.771605
Recall         0.998024        1.000000
F1_score       0.887522        0.871080

RandomForestClassifier using TfidfVectorizer

In [414]:
# Using TF-IDF vectorizer for converting text to vectors
vectorizer_lsa = TfidfVectorizer()
vectorizer_lsa.fit(X_train)
X_train_tfidf = vectorizer_lsa.transform(X_train)
X_val_tfidf = vectorizer_lsa.transform(X_val)
print(f'Shape of train data: {X_train_tfidf.shape}')

Shape of train data: (920, 6037)

In [415]:
# Model Training and Prediction for TF-IDF using random forest classifier
clf_tfidf = RandomForestClassifier(max_depth=2, max_leaf_nodes=3, n_estimators=20)
clf_tfidf.fit(X_train_tfidf, y_train)
y_pred_tfidf_train = clf_tfidf.predict(X_train_tfidf)
y_pred_tfidf_val = clf_tfidf.predict(X_val_tfidf)

# Model Evaluation for TF-IDF
metrics = {'Training Set':
           {'Accuracy':accuracy_score(y_train, y_pred_tfidf_train),
            'Precision':precision_score(y_train, y_pred_tfidf_train),
            'Recall':recall_score(y_train, y_pred_tfidf_train),
            'F1_score':f1_score(y_train, y_pred_tfidf_train)},
           
           'Validation Set':
           {'Accuracy':accuracy_score(y_val, y_pred_tfidf_val),
            'Precision':precision_score(y_val, y_pred_tfidf_val),
            'Recall':recall_score(y_val, y_pred_tfidf_val),
            'F1_score':f1_score(y_val, y_pred_tfidf_val)}
            }

metricDf = pd.DataFrame.from_dict(metrics)
print('RandomForestClassifier using TfidfVectorizer and TruncatedSVD')
display(metricDf)

RandomForestClassifier using TfidfVectorizer and TruncatedSVD

           Training Set  Validation Set
Accuracy       0.891304        0.882609
Precision      0.836093        0.822368
Recall         0.998024        1.000000
F1_score       0.909910        0.902527

##### Hyperparameter Tuning

In [416]:
# Using Hyperparameter tuning to find best values for the random forest classifier
from sklearn.model_selection import GridSearchCV

param_grid = {
    'n_estimators': [25, 50, 100, 150],
    'max_depth': [3, 6, 9, 20, 30],
    'max_leaf_nodes': [3, 6, 9, 20, 30]
}

rf_clf = RandomForestClassifier()

grid_search = GridSearchCV(rf_clf, param_grid=param_grid, cv=5)
grid_search.fit(X_train_tfidf, y_train)

print("Best hyperparameters:", grid_search.best_params_)

best_rf_clf = RandomForestClassifier(**grid_search.best_params_)
best_rf_clf.fit(X_train_tfidf, y_train)

print("Training set score:", best_rf_clf.score(X_train_tfidf, y_train))
print("Test set score:", best_rf_clf.score(X_val_tfidf, y_val))

Best hyperparameters: {'max_depth': 20, 'max_leaf_nodes': 30, 'n_estimators': 100}
Training set score: 0.9869565217391304
Test set score: 0.9478260869565217

RandomForestClassifier using CountVectorizer and LatentDirichletAllocation

In [417]:
# Specify the number of topics for LDA
num_topics_lda = 3000  # You can adjust this number as needed
lda = LatentDirichletAllocation(n_components=num_topics_lda, random_state=42)
lda.fit(X_train_cv)  # Fit LDA model for training data
X_train_topics_lda = lda.fit_transform(X_train_cv)
X_val_topics_lda = lda.transform(X_val_cv)  # Transform test data into topic distributions
print(f'Shape after dimensionality reduction of train data: {X_train_topics_lda.shape}')

Shape after dimensionality reduction of train data: (920, 3000)

In [418]:
# Model Training and Prediction for LDA
clf_lda = RandomForestClassifier(max_depth=20, max_leaf_nodes=30, n_estimators=25)
clf_lda.fit(X_train_topics_lda, y_train)
y_pred_lda_train = clf_lda.predict(X_train_topics_lda)
y_pred_lda_val = clf_lda.predict(X_val_topics_lda)

In [419]:
# Model Evaluation for LDA
metrics = {'Training Set':
           {'Accuracy':accuracy_score(y_train, y_pred_lda_train),
            'Precision':precision_score(y_train, y_pred_lda_train),
            'Recall':recall_score(y_train, y_pred_lda_train),
            'F1_score':f1_score(y_train, y_pred_lda_train)},
           
           'Validation Set':
           {'Accuracy':accuracy_score(y_val, y_pred_lda_val),
            'Precision':precision_score(y_val, y_pred_lda_val),
            'Recall':recall_score(y_val, y_pred_lda_val),
            'F1_score':f1_score(y_val, y_pred_lda_val)}
            }

metricDf = pd.DataFrame.from_dict(metrics)
print('RandomForestClassifier using CountVectorizer and LatentDirichletAllocation')
display(metricDf)

RandomForestClassifier using CountVectorizer and LatentDirichletAllocation

           Training Set  Validation Set
Accuracy       0.910870        0.882609
Precision      0.914062        0.845070
Recall         0.924901        0.960000
F1_score       0.919450        0.898876

RandomForestClassifier using TfidfVectorizer and TruncatedSVD

In [420]:
# Specify the number of components for LSA
num_components_lsa = 3000  # You can adjust this number as needed
lsa = TruncatedSVD(n_components=num_components_lsa, random_state=42)
lsa.fit(X_train_tfidf)  # Fit LSA model for training data
X_train_components_lsa = lsa.fit_transform(X_train_tfidf)
X_val_components_lsa = lsa.transform(X_val_tfidf)  # Transform test data into components
print(f'Shape after dimensionality reduction of train data: {X_train_components_lsa.shape}')

Shape after dimensionality reduction of train data: (920, 920)

In [421]:
# Model Training and Prediction for LSA
clf_lsa = RandomForestClassifier(max_depth=20, max_leaf_nodes=30, n_estimators=25)
clf_lsa.fit(X_train_components_lsa, y_train)
y_pred_lsa_train = clf_lsa.predict(X_train_components_lsa)
y_pred_lsa_val = clf_lsa.predict(X_val_components_lsa)

In [422]:
# Model Evaluation for LSA
metrics = {'Training Set':
           {'Accuracy':accuracy_score(y_train, y_pred_lsa_train),
            'Precision':precision_score(y_train, y_pred_lsa_train),
            'Recall':recall_score(y_train, y_pred_lsa_train),
            'F1_score':f1_score(y_train, y_pred_lsa_train)},
           
           'Validation Set':
           {'Accuracy':accuracy_score(y_val, y_pred_lsa_val),
            'Precision':precision_score(y_val, y_pred_lsa_val),
            'Recall':recall_score(y_val, y_pred_lsa_val),
            'F1_score':f1_score(y_val, y_pred_lsa_val)}
            }

metricDf = pd.DataFrame.from_dict(metrics)
print('RandomForestClassifier using TfidfVectorizer and TruncatedSVD')
display(metricDf)

RandomForestClassifier using TfidfVectorizer and TruncatedSVD

           Training Set  Validation Set
Accuracy       0.979348        0.826087
Precision      0.967370        0.763975
Recall         0.996047        0.984000
F1_score       0.981500        0.860140

In [423]:
# Pickling ml model, vectorizer and dimensionality reduction models
import pickle

f = open('Deployment\Models\\vectorizerTFIDF.pkl', 'wb')
pickle.dump(vectorizer_lsa, f)
f.close()

f = open('Deployment\Models\\vectorizerCV.pkl', 'wb')
pickle.dump(vectorizer_lda, f)
f.close()

f = open('Deployment\Models\LDA.pkl', 'wb')
pickle.dump(lda, f)
f.close()

f = open('Deployment\Models\TSVD.pkl', 'wb')
pickle.dump(lsa, f)
f.close()

f = open('Deployment\Models\RF_CV_LDA.pkl', 'wb')
pickle.dump(clf_lda, f)
f.close()

f = open('Deployment\Models\RF_TFIDF_TSVD.pkl', 'wb')
pickle.dump(clf_lsa, f)
f.close()